.main-layout {
    display: flex;
    flex-flow: row;
    height: 90vh;
}

.sider {
    width: 20vw;
    height: 100%;
    text-align: center;
}

.submit-tree {
    margin: 1em;
}

.table-with-input {
    width: 80vw;
}

.choose-regions-title {
    padding-top: 0.5em;
}

.button-export {
    width: 100%;
}

@media (max-width: 900px) {
    .main-layout {
        flex-flow: column;
    }
    .sider, .table-with-input {
        width: 100vw;
    }
}