.top-layout {
    height: 100vh;
}

.header {
    padding: 1em 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.navRow > * {
    padding: 0.5em;
}

.subjectsNav {
    width: 100%;
}

.subjectsNav h1 {
    text-align: center;
    line-height: 1.5;
    /* flex-grow: 1;
    font-size: 2rem; */
}

.buttonGroup {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em;
}

.content {
    height: 90vh;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainButtonCol {
    text-align: center;
}

.mainButton {
    font-size: 2em;
    height: auto;
}

@media (max-width: 460px) {
    .mainButton {
        font-size: 1.4em;
    }
    .buttonGroup > button {
        font-size: 0.8em;
    }
}

@media (max-width: 300px) {
    .mainButton {
        font-size: 1em;
        width: auto;
    }
    .buttonGroup > button {
        font-size: 0.8em;
        width: auto;
    }
}

