.charts-with-tree {
    padding-top: 1em;
    min-height: 90vh;
    max-height:max-content;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.charts {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 200px;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    /* gap: 2em; */
}

.ant-select-selector {
    max-height: 12vh;
    overflow: auto;
}

.tree {
    max-height: 20vh;
    text-align: center;
}

.submit-tree {
    margin-left: 1em;
}

.chart {
    background-color: #ffffff;    
    height: 100%;
    width: calc(100vw / 3);
}

.chart:first-child {
    padding-left: 0.5em;
}

.chart:last-child {
    padding-right: 0.5em;
}

@media (max-width: 1000px) {
    .charts {
        justify-content: start;
        flex-flow: column nowrap;
    }
    .chart {
        padding: 0 0.5em;
        height: calc(70vh / 3);
        width: 100vw;
    }
}
